<script>
    async function formSubmit(form) {
        const message = document.querySelector("#contact-us-message").value;
        const email = document.querySelector("#contact-us-email").value;

        let response = await axios.post("/contactmessage", {
            message,
            email
        }, {
            validateStatus: false
        })

        if (response.status == 200) {
            alert("Message successfully sent!");
        } else {
            alert(response.data);
        }
    }
</script>

<main>
    <section class="main-section">
        <p class="breadcrumb"><a href="/">Home</a> > About</p>
        <h1>AD Games</h1>
        <section>
            <h2>About us</h2>
            <p>AD Games (Advanced Development Games) was created as a university assignment by Joshua Kelley, a student (S5208752) of Bournemouth University, for the Advanced Development assignment of year 2022/23.</p>
        </section>
        <hr>
        <section>
            <h2>Contact us</h2>
            <p>We can be reached by carrier pidgeon at:</p>
            <address>
                Fern Barrow,<br/>
                Poole,<br/>
                Dorset,<br/>
                BH12 5BB
            </address>
            <hr/>
            <p>By phone, at:</p>
            <a href="tel:+441202524111" style="text-decoration: underline;">01202&nbsp;524111</a>
            <hr/>
            <p>By email, at:</p>
            <a href="mailto:s5208752@bournemouth.ac.uk" style="text-decoration: underline;">s5208752@bournemouth.ac.uk</a>
            <hr/>
            <p>Or by form:</p>
            <form id="contact-form" class="main-card" onsubmit="formSubmit(this)">
                <input type="text" id="contact-us-message" name="contact-us-message" placeholder="Message" required autocomplete="off"/>
                <input type="email" id="contact-us-email" name="contact-us-email" placeholder="Email" required/>
                <input type="submit" value="Send message">
            </form>
        </section>
    </section>
</main>