<main>
    <section class="main-section">
        <p class="breadcrumb"><a href="/">Home</a> > About</p>
        <h1>AD Games</h1>
        <h2>About us</h2>
        <p>AD Games (Advanced Development Games) was created as a university assignment by Joshua Kelley, a student (S5208752) of Bournemouth University, for the Advanced Development assignment of year 2022/23.</p>
        <hr>
        <h2>Contact us</h2>
        <p>We can be reached by carrier pidgeon at:</p>
        <address>
            Fern Barrow,<br/>
            Poole,<br/>
            Dorset,<br/>
            BH12 5BB
        </address>
        <br/>
        <p>By phone, at:</p>
        <a href="tel:+441202524111">01202&nbsp;524111</a>
        <br/>
        <p>Or by email, at:</p>
        <a href="mailto:s5208752@bournemouth.ac.uk">s5208752@bournemouth.ac.uk</a>
    </section>
</main>